
div {
  background-color: rgb(43, 117, 255);
  border-radius: 8px;
  padding: 10px;
  width: 110px;
}
button {
  background-color: rgb(43, 117, 255);
  border: rgb(40, 112, 245);
  padding-left: 14px;
  padding-right: 14px;

  img {
    width: 24px;
  }
}